/* jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}

/* jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}

/* jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a, .ui-datepicker-today a{
	background:#75E3BE;
    border-radius: 22px;
	color: white;
}
.dates-div .ui-datepicker-today a{
	background-image: linear-gradient(135deg, #efaf38, #dc609f);
    border-radius: 22px;
	color: white;
}
.dates-div .ui-state-active{
	background: transparent
}